<div class= "text-center">
<h1>東方projectスコアボード</h1>
<h2>東方projectシリーズの<br>スコアやクリア履歴を管理するサイトですよ</h2>

<%=link_to "新規登録","sign_up",class: "btn btn-lg btn-primary"%>
<%=link_to "ログイン",login_path,class: "btn btn-lg btn-primary"%>

</div>
