<table class="table table-hover">

<thead>
  <tr>
    <th>発売年度</th>
    <th>作品名</th>
  </tr>
</thead>

<tbody>
  <tr>
    <th>2002年8月</th>
    <th><%=link_to "東方紅魔郷", gamescores_path(title: "東方紅魔郷") %></th>

  </tr>
  <tr>
    <th>2003年8月</th>
    <th><%=link_to "東方妖々夢" ,gamescores_path(title: "東方妖々夢")%></th>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
</tbody>

</table>
