<%provide(:title,@user.name)%>

<div class = "row">
  <aside class="span4">
    <section class="user_info">
      <%= render 'shared/user_info'%>
    </section>
  </dev>
  <div class="span8">
    <section class="score_info">
      <%= render 'shared/score_info'%>
    </section>
  </div>
